<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-logo" style="background: #4c4646;">
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <i class="feather icon-menu"></i>
                    </a>

                    <a href="/dashboard">

                        <img src="/assets/images/mainlogo.png"
                            style="width: 45%;aspect-ratio: 3/2;object-fit: contain;margin-right: 5rem;" alt="Paris">
                    </a>

                    <a class="mobile-options">
                        <i class="feather icon-more-horizontal"></i>
                    </a>
                </div>
                <div class="navbar-container">
                    <ul class="nav-left">
                        <li class="header-search">
                            <div class="main-search morphsearch-search">
                                {{!-- <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="feather icon-x"></i></span>
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon search-btn"><i
                                            class="feather icon-search"></i></span>
                                </div> --}}
                            </div>
                        </li>
                        {{!-- <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()">
                                <i class="feather icon-maximize full-screen"></i>
                            </a>
                        </li> --}}
                    </ul>
                    <ul class="nav-right ">
                        <li class="header-notification">
                            <div class="dropdown-primary dropdown show">
                                <a href="/notification" class="dropdown-toggle">
                                    <i class="feather icon-bell f-16"></i>
                                    <span class="badge bg-c-pink" id="adminNotificationCount" style="top: 2px;">0</span>
                                </a>
                            </div>
                        </li>
                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{{adminLogin.image}}" class="img-radius" alt="User-Profile-Image" />
                                    <span>{{adminLogin.firstName}} {{adminLogin.lastName}}</span>
                                    <i class="feather icon-chevron-down"></i>
                                </div>
                                <ul class="show-notification profile-notification dropdown-menu"
                                    data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">

                                    <li>
                                        <a href="/adminprofile">
                                            <i class="feather icon-user"></i> Profile
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/logout">
                                            <i class="feather icon-log-out"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    function updateCounterValues() {
        function getCurrentPagePath() {
            return window.location.pathname;
        }
        $.ajax({
            url: 'https://appadmin.jefferyscatering.com/notificationsList',
            method: 'GET',
            success: function (data) {
                let myNotifications = data.notificationCount;
                console.log("myNotifications: " + myNotifications)
                $('#adminNotificationCount').text(myNotifications); // Update the count in the HTML
                sessionStorage.setItem('adminNotificationCount', myNotifications); // Store count in sessionStorage
            },
            error: function (xhr, status, error) {
                console.error('Error fetching counter values:', error);
            }
        });
    }

    function updateCounterValuesOnLoad() {
      let storedCount = sessionStorage.getItem('adminNotificationCount');
        if (storedCount !== null && storedCount !== undefined) {
            $('#adminNotificationCount').text(storedCount); // Display stored count on load
        } else {
            $('#adminNotificationCount').text('0'); // If count not found, display '0'
        }
        updateCounterValues(); // Update immediately on load
        setInterval(updateCounterValues, 10000); // Poll for updates every 10 seconds
    }

    window.addEventListener('load', function () {
        setTimeout(updateCounterValuesOnLoad, 100); // Invoke after 100 milliseconds
    });
</script>