<body>

    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">


            {{>header}}


            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">


                    {{>sidebar}}
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">

                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Register Admin User </h5>

                                                </div>
                                                <div class="card-block">
                                                    <div class="j-wrapper j-wrapper-640">
                                                        <form action="/add_useradmin" method="post" class="j-pro"
                                                            id="j-pro" novalidate>
                                                            <div class="j-content">

                                                                <div>
                                                                    <label class="j-label">Name</label>
                                                                    <div class="j-unit">
                                                                        <div class="j-input">
                                                                            {{!-- <label class="j-icon-right"
                                                                                for="name">
                                                                                <i class="icofont icofont-ui-user"></i>
                                                                            </label> --}}
                                                                            <input type="text" id="name" name="name"
                                                                                required>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div>
                                                                    <div>
                                                                        <label class="j-label">Email</label>
                                                                    </div>
                                                                    <div class="j-unit">
                                                                        <div class="j-input">
                                                                            {{!-- <label class="j-icon-right"
                                                                                for="email">
                                                                                <i class="icofont icofont-envelope"></i>
                                                                            </label> --}}
                                                                            <input type="email" id="email" name="email"
                                                                                required>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div>
                                                                    <div>
                                                                        <label class="j-label ">Mobile</label>
                                                                    </div>
                                                                    <div class="j-unit">
                                                                        <div class="j-input">
                                                                            {{!-- <label class="j-icon-right"
                                                                                for="mobile">
                                                                                <i class="icofont icofont-ui-check"></i>
                                                                            </label> --}}
                                                                            <input type="text" id="mobile" name="mobile"
                                                                                required>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                    </div>


                                                    <div class="j-response"></div>


                                                    <div class="j-footer">
                                                        <button type="submit" style="background-color: black; "
                                                            class="btn btn-primary">Register</button>
                                                    </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>